:root {

    --bg_main: #0a1f44;
    --text_light: #fff;
    --text_med: #53627c;
    --text_dark: #1e2432;
    --red: #ff1e42;
    --darkred: #c3112d;
    --orange: #ff8c00;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

button,
input {
    border: none;
    outline: none;
    background: none;
    color: inherit;
}

button {
    cursor: pointer;
    background-color: var(--red);
}
  
input {
    -webkit-appearance: none;
}
  
img {
    display: block;
    max-width: 100%;
    height: auto;
}
  
ul {
    list-style: none;
}
  
body {
    font: 1rem/1.3 "Roboto", sans-serif;
    background: var(--bg_main);
    color: var(--text_light);
    padding: 50px;
}
  
.weatherSection {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    padding: 20px;
    border: 1px solid var(--text_med);
    border-radius: 10px;
    background-color: white;
    color: var(--text_dark);
}